::-webkit-input-placeholder {
    color: #CCC;
}
::-moz-placeholder {
    color: #CCC;
}
:-ms-input-placeholder {
    color: #CCC;
}
:-moz-placeholder {
    color: #CCC;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
}
body{
    font: 12px "Comic Sans MS";
    margin: 0;
    padding: 0;
    background-color: #ECECEC;
}
p{font-size: 14px}
@media screen and (min-width: 768px) {

}
@media screen and (min-width: 1280px) {

}
@media screen and (min-width: 1960px) {

}
