<template>
  <section>
       <div class="options">
           <h4>Гибкий камень ТМ "ILPOSKOL" - это отделочный материал для интерьера и фасада из мраморного и кварцевого песка.</h4>
           <h5>Основные свойства:</h5>
               <ol>
                   <li>Неограниченные возможности для воплощения дизайнерских и архитектурных решений</li>
                   <li>Уникальные узоры отображения природного камня.</li>
                   <li> Экологическая чистота.</li>
                   <li>Малый вес. От 1 до 1.5 кг. / м2</li>
                   <li>Гибкость и эластичность.</li>
                   <li>Удобства в монтаже без профессиональных навыков.</li>
                   <li>Устойчивость к ультрафиолетовым лучам.</li>
                   <li> Водоотталкивающие и противогрибковые свойства.</li>
               </ol>
           <div class="block3">
               <h1>О компании</h1>
               <p><strong>SABOMIS</strong> - это команда профессионалов с огромным опытом и знанием своего дела. Можем без излишней скромности сказать, что мы относимся к одними из лучших в данной сфере, но нам так же известно, что всегда можно усовершенствовать свой сервис. Мы стремимся всегда быть на шаг впереди конкурентов. Надеемся что наш профессионализм окажется для вас полезным. Наша компания на рынке с 2007 года.</p>
           </div>
           <div class="img">
               <img src="../../public/img/3.png" alt="">
               <img src="../../public/img/5.png" alt="">
               <img src="../../public/img/6.png" alt="">
           </div>

       </div>
   </section>
</template>

<script>
    export default {
        name: "About_Us"
    }
</script>

<style scoped>
    section{
        padding: 10px;
    }
    h4{
        text-align: center
    }
h5{
    text-align: center;
}
    .img{
        text-align: center;
        cursor: pointer;
    }
</style>