<template>
    <section class="basket">
        <div class="table-wrap">
        <div class="table">
            <ul>
                <li class="tovar">Товар</li>
                <li>Количество</li>
                <li>Цена</li>
                <li>Стоимость</li>
                <li></li>
            </ul>
        </div>
    <div class="baskets" v-bind:key="cardKey" v-for="(card,cardKey) in cards">

    <div class="bas" v-if="isexist(card.name)">
        <ul>
            <li class="tovar">
            <router-link :to="{ name: 'card', params: { slug: card.slug}}">
           <h3>{{card.name}}</h3>
               </router-link>
            </li>
            <!--<li>  <input id="txt-2" class="raz" type="number" min="1" value="1">/м²</li>-->
            <li :getcount="getcount(card.name,card.prise)"><p>{{count}}/м²</p></li>
            <li> <p>{{card.prise}} €/м²</p></li>
            <li> <p>{{card.prise*count}} €</p></li>
            <li><a href=" " @click="removebaskets(card.name,card.prise)"><i class="fas fa-trash-alt"></i></a></li>

        </ul>
    </div>
    </div>
            <p id="right">Всего: {{summ/101}} €</p>
    </div>

        <div class="order">

            <div class="form">
                <h3>Оформить заказ</h3>
                <form class="send-order" action="#" method="post" >
                    <ul>
                        <li class="name-wrap">
                            <p><label>Имя</label></p>
                            <input placeholder="Имя" type="text" class="name"  name="name" required="required" value=""  >
                        </li>
                        <li class="home-wrap">
                            <p><label>Адрес</label></p>
                            <input placeholder="Адрес" type="text" class="home"  name="home" required="required" value=""  >
                        </li>
                        <li class="phone-wrap">
                            <p><label>Телефон</label></p>
                            <input placeholder="Телефон" type="text" class="phone"  name="phone" required="required" value=""  >
                        </li>
                        <li class="email-wrap">
                            <p><label>E-mail</label></p>
                            <input placeholder="Почта" type="email" class="email"   name="email" required="required" value=""  >

                        </li>
                        <li class="text-wrap">
                            <p><label>Коментарий</label></p>
                            <textarea placeholder="Текст коментария" class="text" name="text" required="required"></textarea>
                            <div class="helper"></div>
                        </li>
                    </ul>
                    <label id="valid"></label>
                    <input type="submit" class="order-submit" value="Отправить"/>
                </form>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        name: "baskets",
        data: function() {
            return {
                cards: [],
                count:Number,
                summ:0

            }
        },
        methods:{
            isexist(name){
                let currentName = sessionStorage.getItem(name);
                if(currentName){
                    return true
                }else{
                    return false

                }
          },
            getcount(name,prise){
                if(name===(sessionStorage.getItem(name))) {
                    sessionStorage.getItem(name + 'Count');
                    this.count = Number(sessionStorage.getItem(name + 'Count'));
                    console.log(name);
                    this.summ += this.count * Number(prise);
                    // console.log(prise);
                }
            },
            removebaskets(name,prise){
                sessionStorage.removeItem(name);
                sessionStorage.removeItem(prise);
                sessionStorage.removeItem(name + 'Count');
            },
        },
        created: function() {
            let obj = this;
            this.$db.collection("freski").get().then(function(query) {
                query.forEach(function(card) {
                    obj.cards.push(card.data());
                });
            });

        },





    }
</script>

<style scoped>
    section.basket{
        display: flex;
        width: 100%;
        padding: 10px;
    }
    .table-wrap{
        width: 60%;
    }
    .order{
        width: 40%;
    }
    .table{
        width: 100%;
    }
.table ul{
    display: flex;
    width: 100%;
    background-color: #F7941D;
    color:#fff;
}
.table li.tovar{
    width: 550px;
}
    .table li{
        width: 200px;
        list-style: none    ;

        text-align: center;
    }
    .bas{
        width: 100%;
    }
    .bas ul{
        display: flex;
        width: 100%;
        background: #f5f5f5;
    }

    .bas li{
        width: 200px;
        list-style: none    ;
        text-align: center;



    }
    .bas li.tovar{
        width: 550px;
    }
    .bas li.tovar:hover{
        color:#F7941D;
    }
    .bas a{
        color: #000;
    }
    .raz {
        -moz-appearance: textfield;
        width: 30px;
        height: 29px;
        text-align: center;
    }
    .raz::-webkit-inner-spin-button {
        display: none;
    }
p#right{
    float: right;
    background-color: #F8B441;
}
.form li{
    list-style: none;
}
.form h3{
    text-align: center;
}
i{
    height: 50px;
    line-height: 50px;
}
 i:hover{
  color: orange;
}
    form{
        width: 60% ;
        background-color:#F5F5F5;
        margin-right: 25px;
        padding: 10px;
        float: right;
        border-radius: 5px;
    }
    input{
        width: 90%;
        border-radius: 3px;
    }
    textarea{
        width: 90%;
        border-radius: 3px;
    }
    input.order-submit{
        margin-left: 37px;
        width: 100px;
        height: 30px;
        background: #F7941D;
        color: #fff;
        border-radius: 3px;
        border: 2px solid white;
    }
    input.order-submit:hover {
        background: #212121;
        color: #F8B441;
        border-radius: 3px;
        border: 2px solid white;
    }

</style>