<template>
    <section class="card" v-if="card">
<div class="content">
    <div class="left">
        <left-menu></left-menu>
    </div>
    <div class="right">
        <h1>{{card.name}}</h1>
        <div class="card-wrap">
            <img :src="card.img" alt="">
            <div class="baskets">
                <h3>{{card.name}}</h3>
                <p><span>Цена: </span> {{card.prise }} € / м²</p>
                <p><span>Наличие:</span>{{card.nal}}</p>
                <p><span>Размеры:</span>{{card.size}}</p>
                    <div class="nun" >
                    <input class="raz" id="txt" type="number" min="1" value="1">
                    <button @click="addbaskets(card.name,card.prise,count)" class="add">В корзину</button>
                    </div>
            </div>
        </div>
        <div class="text">
            <p>{{ card.text }}</p>
        </div>
        <div class="img_size">
            <img :src="card.image" alt="">
        </div>
    </div>
</div>
    </section>
</template>

<script>
    import LeftMenu from "./left-menu";
    export default {
        name: "card",
        data: function(){
            return{
                card: null,
            }
        },
        components: {
            LeftMenu

        },
        created: function() {
            let obj = this;
            let slug = this.$route.params.slug;
            this.$db.collection("freski").where("slug", "==", slug)
                .get()
                .then(function(querySnapshot) {
                    querySnapshot.forEach(function(doc) {
                        obj.card = doc.data();
                    });
                })
                .catch(function(error) {
                    console.log("Error getting documents: ", error);
                });

        },
        methods: {
            addbaskets(name,prise){
                sessionStorage.setItem(name,name);
                sessionStorage.setItem(prise,prise);
                let count=document.getElementById('txt').value;
                sessionStorage.setItem(name + 'Count', count);
            }
        }

    }
</script>

<style scoped>
    .content{
        display: flex;
        width: 100%;
    }
    .left{
        width: 30%;
    }
    .right{
        width: 70%;
        margin-left: 20px;
    }
    .card-wrap{
        display: flex;
        height: 250px;
    }
    .card-wrap img{
        width: 300px;

    }

    .baskets{
        width: 70%;
        margin:10px 20px;
        padding: 10px 20px 10px 20px;
        height: 220px;
        border:1px solid silver;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }


   .baskets span{
        color:#F7941D;
    }
    .baskets p{
        border-bottom: 1px solid silver;
    }
    .nun{
        display: flex;
        flex-direction: row;

        justify-content: space-between;
    }
.raz {
    -moz-appearance: textfield;
    width: 50px;
    height: 29px;
    text-align: center;
}
.raz::-webkit-inner-spin-button {
    display: none;
}
.add{
    background-color: #F7941D;
    border-radius: 5px;
    color: #ffffff;
    width: 100px;
    height: 35px;
}
</style>