<template>
    <section class="cards">

        <div class="card" v-bind:key="cardKey" v-for="(card,cardKey) in cards">
        <h1>{{card.name}}</h1>
            <img v-bind:src="card.img"/>
            <div class="info">
            <p>Наличие:{{card.nal}}</p>
                <p>Цена:{{card.prise }} € / м²</p>
                <p>Размеры: </p>
        <p>{{card.size}}</p>
            </div>
            <router-link :to="{ name: 'card', params: { slug: card.slug}}">
            <button>Подробнее</button>
            </router-link>
        </div>

    </section>
</template>

<script>
    export default {
        name: "cards"
        ,
        data: function() {
            return {
                cards: []
            }
        },
            created: function() {
            let obj = this;
            this.$db.collection("freski").get().then(function(query) {
                query.forEach(function(card) {
                    obj.cards.push(card.data());
                });
            });

        }
    }
</script>

<style scoped>
   section.cards{
        display: flex;
        flex-wrap: wrap;
        justify-content:center;

    }
.card{
    width: 250px;
    height: 400px;
    background-color: #F7941D;
    margin: 15px   7px ;
}
    .cards img {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }
    .cards h1{
        margin: 0 0 0 10px ;
        color: #fff;
    }
    .info{
        margin-left: 10px;
    }
    button{
        display: block;
        margin: 0 auto;
        width: 200px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        color: #fff;
        background-color:#F8B441 ;
        border-radius:5px ;
        border: 1px solid #d88119;
        transition: 0.3s all;
        text-decoration: none;

    }
button:hover{
    border: 2px solid #d88119;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.3);
    transition: 0.3s all;


}
</style>