<template>
    <section>
        <div class="contacts-wrap">
<div class="contacts">
    <h2>Свяжитесь с нами</h2>
    <p><i class="fas fa-map-marker-alt"></i>Украина, смт. Пулины(Червоноармейск),
        ул. Грушевского 56</p>
    <p><i class="fas fa-phone"></i>+38(097)157-21-92</p>
    <p><i class="fas fa-phone"></i>+38(097)007-70-30</p>
    <p><i class="fas fa-phone"></i>+38(067)410-33-48</p>
    <p><i class="fas fa-phone"></i>+38(04131)31-3-63</p>
    <p><i class="far fa-envelope"></i>ilposkol.ua@gmail.com</p>
    <p><i class="far fa-clock"></i>Понедельник - пятница:
    <p> с 9-00 до 19-00</p>
    <p>Суббота: с 10-00 до 18-00</p>
    <p>Воскресенье: выходной</p>

</div>
        <div class="form">
            <form class="send-order" action="#" method="post" >
                <ul>
                    <li class="name-wrap">
                        <p><label>Имя</label></p>
                        <input placeholder="Имя" type="text" class="name"  name="name" required="required" value=""  >
                    </li>
                    <li class="phone-wrap">
                        <p><label>Телефон</label></p>
                        <input placeholder="Телефон" type="text" class="phone"  name="phone" required="required" value=""  >
                    </li>
                    <li class="email-wrap">
                        <p><label>E-mail</label></p>
                        <input placeholder="Почта" type="email" class="email"   name="email" required="required" value=""  >

                    </li>
                    <li class="text-wrap">
                        <p><label>Текст</label></p>
                        <textarea placeholder="Текст запроса" class="text" name="text" required="required"></textarea>
                        <div class="helper"></div>
                    </li>
                </ul>
                <label id="valid"></label>
                <input type="submit" class="order-submit" value="Отправить"/>
            </form>
        </div>
        </div>
<div class="maps">
    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d40638.666035252805!2d28.243963072616786!3d50.46105834658298!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1zINGB0LzRgi4g0KfQtdGA0LLQvtC90L7QsNGA0LzQtdC50YHQuiwg0YPQuy4g0JPRgNGD0YjQtdCy0YHQutC-0LPQviA1Ng!5e0!3m2!1sru!2sua!4v1546613597807" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
    </section>
</template>
<script>

    export default {
        name: 'contacts',
        components: {

        }
    }

</script>
<style scoped type="text/css">
    .contacts-wrap{
        display: flex;
        padding: 10px;
        flex-direction: row;
        justify-content: space-around;
    }
    form{
        width: 350px;
        background-color:#F5F5F5;
        margin: 20px;
        padding: 10px;
        border-radius: 3px;
    }
    input{
        width: 90%;
        border-radius: 3px;
    }
    textarea{
        width: 90%;
        border-radius: 3px;
    }
    input.order-submit{
        margin-left: 39px;
        width: 100px;
        height: 30px;
        background: orange;
        color: #fff;
        border-radius: 3px;
        border: 2px solid white;
    }
    input.order-submit:hover {
        background: #212121;
        color: #F8B441;
        border-radius: 3px;
        border: 2px solid white;
    }

li{
    list-style-type: none;
}
iframe{
    width: 100%;
}
    i{
        padding: 5px;
    }

</style>