<template>
    <section class="stone-wrap">
    <h1>Что такое гибкий камень?</h1>
    <p>Гибкий камень ILPOSKOL - это новый облицовочный материал, созданный по уникальной технологии, позволяющей передать натуральную природную структуру многовекового песчаника в условия городской архитектуры и современного интерьера.</p>
   <p>Само словосочетание «гибкий камень» вызывает легкое недоумение. Мы привыкли к тому, что камню придают ту или иную форму, а гибкий камень ILPOSKOL сам принимает форму предмета или элемента, на который наносится. Это уникальное качество в сочетании с прекрасными декоративными свойствами, легкостью, прочностью, стойкостью к истиранию делают материал незаменимым для многих видов отделки. Натуральный отделочный материал гибкий камень ILPOSKOL это тонкий срез природного песчаника, надёжно закреплённый на гибкой основе и представленный в виде рулонов или плитки. Когда-то песчаник добывали огромными глыбами для строительства дворцов и храмов, а сегодня его пропитывают акриловым составом и бережно формат за форматом снимают с поверхности, превращая в доступный, невероятно красивый отделочный материал. Частички песчаника крепятся к основе из стеклохолста с помощью экологически чистой акриловой дисперсии, позволяющей использовать гибкий камень ILPOSKOL без каких-либо ограничений для отделки любых недеформирующихся поверхностей (оштукатуренные стены, изделия из пенополистирола, стекла, металла, пластика) как внутри помещений любого назначения, так и снаружи. Именно благодаря наличию акриловых связующих материал способен принимать нужную форму, защищен от воздействия внешних факторов, что дает возможность применять его и во влажных помещениях, и в местах с повышенными требованиями к пожарной безопасности. </p>
        <img class="st" src="../../public/img/stone.jpg" alt="">
    <h3>Представлен в виде листов и плитки</h3>
        <p>Плитка из «Гибкого камня»- это тонкий срез песчаника, имеющий природную текстуру и неповторимую расцветку. Это гибкий, легкий материал для отделки фасадов и внутренних помещений.</p>
        <img class="st" src="../../public/img/4.png" alt="">
        <p>Лист «Гибкого камня» имеет те же свойства, что и плитка. Его преимущество в возможности бесшовного монтажа на большие площади.

            Для соблюдения технологических требований при монтаже «Гибкого камня», рекомендуем использовать специальный клей и средство защиты.

            «Гибкий камень» - это долговечный материал. Правильный монтаж «Гибкого камня» обеспечит впечатляющий вид поверхности и не потребует ремонта в течение долгих лет.</p>
        <img class="st" src="../../public/img/3.jpg" alt="">
    <h3>Область применения</h3>
        <p>Область применения материала безгранична: от отделки стен и пола до сложных арт-объектов. Применение «Гибкого камня» открывает новые архитектурно-технические возможности для архитекторов и дизайнеров в облицовке фасадов, оформлении интерьеров.</p>
        <p>«Гибкий камень» можно использовать в отделке ванных комнат, саун, фонтанов, бассейнов - материал не боится прямого попадания воды на поверхность, переносит резкие перепады температуры, не горюч, при нагревании не выделяет вредных веществ, что делает его незаменимым в отделке каминов.</p>
        <p>Благодаря светопроницаемым свойствам, материал незаменим для создания светодизайна в интерьере. Декоративные объемы гротов и пещер из «Гибкого камня», светящиеся мягким теплым светом, сделают запоминающимся любой интерьер.</p>
        <p>Неповторимое изящество интерьеру придадут оригинальные фрески, нанесенные на «Гибкий камень», а также эксклюзивные мозаичные картины, панно для пола в комбинации с паркетом или с другими напольными покрытиями оставят неизгладимое впечатление от увиденного.</p>
        <div class="img">
            <img src="../../public/img/freski_1.jpg" alt="">
            <img src="../../public/img/freski_2.jpg" alt="">
            <img src="../../public/img/freski_3.jpg" alt="">
        </div>
    </section>
</template>

<script>
    export default {
        name: "Flexible_stone"
    }
</script>

<style scoped>
    section.stone-wrap{
        padding: 10px;
    }
img.st{
    width: 100%;
}
    h1{
        text-align: center;
    }
    h3{
        text-align: center;
    }
    .img{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    .img img {
        margin: 15px;
    }

</style>