<template>
   <section class="footer-wrap">
       <div class="footer">
           <p>© 2019 ТОВ “ILPOSKOL”. Все права защищены.</p>
       </div>
   </section>
</template>

<script>
    export default {
        name: "footer"
    }
</script>

<style scoped>

section.footer-wrap{
    width: 100%;
    height: 20px;
}

    .footer{
        width: 80%;
        margin: 0 auto;
        padding: 0;
    }
</style>