<template>
    <div class="gallery-wrap">
        <div class="text">
    <h1>Фрески на гибком камне ТМ ILPOSKOL это надежность, долговечность и красота любого изображения под заказ.</h1>
        </div>
<gallery></gallery>
    </div>
</template>

<script>
    import Gallery from "./gallery";
    export default {
        name: "Freski",
        components: {
            Gallery

        }

    }
</script>

<style scoped>
    .gallery-wrap{
        padding: 10px;
    }
h1{
    text-align: center;
    padding: 0;
}
</style>