
<template>
    <section class="gallery" v-if="car" >
        <div class="gal">
            <gallery :images="images" :index="index" @close="index = null"></gallery>
            <div class="image" v-for="(image, imageIndex) in images" :key="imageIndex" @click="index = imageIndex"
                 :style="{ backgroundImage: 'url(' + image + ')', width: '200px', height: '50px' }"
            >
            </div>
        </div>

    </section>
</template>
<script>
    import VueGallery from 'vue-gallery'

    export default {
        name: "partners",
        data: function () {
            return {
                images: [
                ],
                index: null,
                car: null,
                cars: []

            };
        },
        components: {
            'gallery': VueGallery
        },
        created: function () {
            let obj = this;

            this.$db.collection("galerry").get().then(function (query) {
                query.forEach(function (car) {

                    obj.cars.push(car.data());
                });
            });
            this.$db.collection("galerry")
                .get()
                .then(function (querySnapshot) {

                    querySnapshot.forEach(function (doc) {

                        obj.car = doc.data();

                    });
                    for(let i=0; i < obj.cars.length; i++){
                        obj.images[i] = obj.cars[i].img;

                    }
                });



        }
    }

</script>
<style scoped type="text/css">
    .image {
        background-size: cover;
        border: 1px solid #ebebeb;
        margin: 5px auto;
        padding-bottom: 150px;
        cursor: pointer;

    }
    .image:hover{
        -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);

    }

    .gal {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

</style>