<template>
    <div class="header-wrap">
        <div class="containers">
            <div class="header">
            <div class="logo">
        <img src="../../public/img/logo.png" alt="">
            <p>Гибкий камень от производителя</p>
            </div>

                    <div class="baskets-wrap">
                        <router-link :to="{ name: 'baskets' }">
                            <img src="../../public/img/basket.png" alt="">
                        </router-link>
                <div class="baskets">
                <p>В корзине нет товаров</p>
                    <router-link :to="{ name: 'baskets' }">Посмотреть корзину</router-link>

    </div>
            </div>
        </div>
        </div>
        </div>

</template>
<script>
    export default {
        name: 'Header',
    }
</script>
<style scoped type="text/css">
    .header-wrap{
        width: 100%;
        height: 70px;
        background: #212121;


    }
    .containers{
            width: 1140px;
            margin: 0 auto;
        }
    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 100%;


    }
   .header img{
        margin: 5px 0 0 0;
        height: 30px;
    }
    .header .logo p{
        margin: 0 0 0 0;
        color:#C0C0C0;
        padding: 0;
    }
    .baskets{
        display: flex;
        flex-direction: column;
    }
    .baskets-wrap{
        display: flex;
        margin-top: 10px;
        flex-direction: row;
    }
    .baskets p{
        color:orange;
        margin: 10px 0 0 0;
    }
    .baskets-wrap a{
        margin-left: 10px;
        color: #C0C0C0;
        text-decoration: none   ;

    }

</style>