<template>
    <section class="main">
<div class="block-1">
    <div class="text">
        <h1>Гибкий камень</h1>
        <h3>Готовое решение для дизайна
            интерьера и внешней
            отделки фасадов</h3>
            <router-link :to="{ name: 'production' }"  > <button>Посмотреть продукцию</button></router-link>
    </div>
</div>

        <div class="block-2">
            <h1>ГДЕ НУЖНО ПРИМЕНЯТЬ ГИБКИЙ КАМЕНЬ </h1>
            <div class="content">
                <div class="left">
                    <img src="../../public/img/dom.png" alt="">
                </div>
                <div class="right">
                    <ul>
                        <li>Фасады, цоколи домов и гаражи</li>
                        <li>Лестницы, коридоры и входные группы</li>
                        <li>Жилые комнаты​</li>
                        <li>Ванные комнаты и бассейны</li>
                        <li>Камины</li>
                        <li>Барные стойки и стойки ресепшн​</li>
                        <li>И многое другое​</li>
                    </ul>
                    <router-link :to="{ name: 'Flexible_stone' }" ><button>Подробнее</button></router-link>
                </div>
            </div>
        </div>
<div class="block-3">
    <h1>ПОЧЕМУ ВЫБИРАЮТ ИМЕННО НАС</h1>
    <div class="icon-wrap">
        <div class="icon-item">
            <i class="fas fa-users"></i>
            <p>Собственное производство</p>
        </div>
        <div class="icon-item">
            <i class="fas fa-cogs"></i>
            <p>Уникальная технология</p>
        </div>
        <div class="icon-item">
            <i class="fas fa-fire"></i>
            <p>Не горит, устойчив к перепаду
                температуры</p>
        </div>
        <div class="icon-item">
            <i class="fas fa-tint"></i>
            <p>Легко моется, не впитывает
                влагу</p>
        </div>
        <div class="icon-item">
            <i class="fas fa-atom"></i>
            <p>Устойчив к выцветанию</p>
        </div>
        <div class="icon-item">
            <i class="fab fa-fort-awesome"></i>
            <p>Не трескается, высокопрочный</p>
        </div>
    </div>
</div>
        <div class="block-4">
            <h1>СЕРТИФИКАТЫ И ДОКУМЕНТЫ</h1>
            <div class="img">
                <img src="../../public/img/1.png" alt="">
                <img src="../../public/img/2.jpg" alt="">
            </div>

        </div>
    </section>
</template>

<script>
    import LeftMenu from "./left-menu";
    export default {
        name: "Home"
        ,
        components: {
            LeftMenu
        },

    }
</script>

<style scoped>
    section{
        padding: 10px;
    }
    .block-1{
        width: 100%;
        height: 450px;
        background: url("../../public/img/bg1.jpg" );
        background-size: cover;
    }
    .block-1 h1{
        color: #fff;
        font-size: 80px;
        margin: 0;
        padding-top: 50px;
        line-height: 1;
        text-align: center;
    }
   .block-1 h3{
        color: #fff;
        font-size: 48px;
        padding: 15px;
        margin: 0;

        text-align: center;
    }
    button{
        display: block;
        cursor: pointer;
        margin: 0 auto;
        width: 200px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        color: #fff;
        background-color:#F8B441 ;
        border-radius:5px ;
        border: 1px solid #d88119;
        transition: 0.3s all;
        text-decoration: none;

    }
    button:hover{
        border: 2px solid #d88119;
        -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.3);
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.3);
        transition: 0.3s all;


    }
    .block-2{
        width: 100%;
        height: 350px;
        padding-top: 20px;
        background-size: cover;
    }
    .block-2 h1{
        font-size: 24px;
        margin: 0;
        padding-top: 10px;
        line-height: 1;
        text-align: center;
    }
    .block-2 ul{
        padding-top: 20px;
        margin-left: 20px;
    }
    .block-2 li{
        font-size: 18px;
    }
    .content{
        display: flex;
    }
    .left{
        width: 50%;
    }
    .left img{
        padding: 30px;
        width: 90%;
        height: 300px;
    }
    .block-3{
        width: 100%;
        height: auto;
        background: url("../../public/img/bg2.jpg" );
        background-size: cover;
        color:#fff;
    }
    .block-3 h1{
        font-size: 24px;
        margin: 0;
        padding-top: 10px;
        line-height: 1;
        text-align: center;
    }
    .block-3 p{
        text-align: center;
    }
.icon-wrap{
    display: flex;
    padding-top: 50px;
    justify-content: center;
    flex-wrap: wrap;
}
    .icon-item{
        width: 250px;
    }
    .fas,.fab{
        margin-left: 50px;
        text-align: center;
        width: 150px;
        height: 150px;
        background-color: orange;
        line-height: 150px;
        border: 3px solid #fff;
        border-radius: 50%;
        font-size: 40px;
        cursor: pointer;
    }
    .fas:hover,.fab:hover{
        background-color:#fff;
        border: 3px solid orange;
        color: orange;
    }
    .block-4 h1{
        font-size: 24px;
        margin: 0;
        padding-top: 10px;
        line-height: 1;
        text-align: center;
    }
    .block-4{
        padding-top: 20px;
    }
    .block-4 .img{
        padding-top: 30px;
        text-align: center;
    }
    .block-4 img{
        cursor: pointer;
    }
</style>