<template>
    <div class="left-menu-wrap">
        <ul><h3>Каталог товаров</h3></ul>
    <div class="menu" v-bind:key="cardKey" v-for="(card,cardKey) in cards">
            <router-link :to="{ name: 'card', params: { slug:card.slug}}">
            <li>{{card.name}}</li>
        </router-link>
    </div>
    </div>
</template>

<script>

    export default {
        name: "left-menu",
        data: function() {
            return {
                cards: [],

            }
        },
        created: function() {
            let obj = this;
            this.$db.collection("freski").get().then(function(query) {
                query.forEach(function(card) {
                    obj.cards.push(card.data());
                });
            });
        },
    }
</script>

<style scoped>
    .left-menu-wrap{
        width: 100%;
        float: left;
        background-color: #fff;
    }
    ul{
        height: 30px;
        margin: 0;
        background-color:#F8B441;
        border-radius:4px ;
        line-height: 30px;
        text-align: center;
    }
    ul:hover{
        color:#fff;
    }
li{
    height: 30px;
    line-height: 30px;
    color: black;
    border-bottom: 1px solid silver;
    list-style-type: none;
    padding-left: 10px;
}
    li:hover{
        background-color: #ccc;
        color:orange ;
        padding-left: 20px;
        -webkit-transition: all 0.3s linear;
        transition: all 0.3s linear;
    }
</style>