<template>
    <nav>
        <router-link :to="{ name: 'home' }" >Главная</router-link>
        <router-link :to="{ name: 'production' }"  >Продукция</router-link>
        <router-link :to="{ name: 'About_Us' }" >О нас</router-link>
        <router-link :to="{ name: 'Flexible_stone' }" >Гибкий камень</router-link>
        <router-link :to="{ name: 'Options' }" >Свойства</router-link>
        <router-link :to="{ name: 'Freski' }" >Фрескі</router-link>
        <router-link :to="{ name: 'video' }" > Відео</router-link>
        <router-link :to="{ name: 'contacts' }">Контакти</router-link>
    </nav>
</template>
<script>

    export default {
        name: "menu",


    }
</script>

<style scoped>
    nav{
        background-color: #F8B441;
        height: 30px;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        border: 1px solid #fff;
    }
    a{
        height: 30px;
        width: 100px;
        background-color: #F8B441;
        color:#212121;
        text-align: center;
        line-height: 30px;
        text-decoration: none;
    }
    a:hover{
        color:#F8B441;
        background: #212121;
        text-align: center;
    }
    a.router-link-exact-active{
        background: #212121;
        color:orange;
    }
</style>