<template>
    <section>
    <h1>Свойства и характеристики гибкого камня</h1>
    <p>Кроме прекрасных эстетических качеств, "Гибкий камень" подкупает самых практичных и требовательных своими характерными свойствами:</p>
    <ul>
        <li>Экологически чистый</li>
        <li>Натуральный</li>
        <li>Природная структура</li>
        <li>Гибкая поверхность</li>
        <li>Небольшой вес</li>
        <li>Способность «дышать»</li>
        <li>Морозоустойчив</li>
        <li>Отталкивает воду и грязь</li>
        <li>Простота в работе</li>
        <li>Эксклюзивность</li>
        <li>Светопроницаемость</li>
    </ul>
        <p>Гибкий камень негорюч, поэтому может без ограничений применяться в отделке жилых помещений и фасадов зданий. По сути это универсальный материал, стойкий к износу и обладающий низким влагопоглощением, при этом имеющий пористую структуру, за счет чего покрытие получается паропроницаемым. На практике гибкий песчаник используют для отделки ванн, бассейнов, стен, ступеней, колонн, различных декоративных элементов интерьера и мебели, фасадов зданий. Очень красиво и благородно выглядят камины с тонкой каменной жаропрочной облицовкой. Каменные полотна подходят и для создания теплого пола. Покрытие получается прочным и декоративным. Гибкий камень выпускают в виде листов стандартного размера 960х450 мм., или полотен 2900х960 мм. Да да, этот необычный материал сворачивают в рулон. Толщина таких полотен, листов 1-2 мм. Вес 1 кв. м материала составляет в среднем от 1 до 1.5 кг, что позволяет применять его в качестве отделки фасада зданий. Он не нагружает стены и фундамент, отлично защищая при этом несущие конструкции. После монтажа каменных полотен на внешние стены их покрывают специальным составом для минеральных оснований, например, защитной грунтовкой. Светопроницаемость, обеспечивающая материалу уникальные декоративные характеристики, благодаря которым гибкий камень можно использовать в процессе создания интерьеров с уникальным светодизайном.</p>
  <h3>Монтаж гибкого камня</h3>
        <p>Для монтажа гибкого камня не требуется профессиональных навыков и специальных инструментов.</p>
        <ol>
            <li>1.Инструменты которые необходимы для монтажа гибкого камня.</li>
            <p>- уровень, линейка, карандаш, гребенка, маковица, монтажный нож или ножницы, валик прижимной, наждачная бумага, строительный фен</p>
            <li>Подготовка поверхности.</li>
            <p>Перед отделкой стен, потолков и других поверхностей гибким камнем необходимо проверить качество поверхностей: они должны быть абсолютно ровные, прочные, сухие и в одном колере. Недопустимо наличие пыли, грязи, следов красок.</p>
            <li>Пидготовка клеевого состава.</li>
            <p>Перед нанесением на поверхность обоев и стен клеевой состав тщательно перемешивают миксером. Клей используют рекомендованный производителем камня.</p>
            <li>Монтаж гибкого камня.</li>
            <p>Работы по монтажу гибкого камня можно проводить при температуре не ниже +5С.</p>
            <p>Поверхность грунтуется грунтовкой ТМ «ILPOSKOL». Время высыхания грунтовки 6 – 18 часов, зависит от температуры и влажности воздуха . Клеевая смесь ТМ «ILPOSKOL» наносится на поверхность стены и на поверхность полотна с помощью щетки или валика. После нанесения клея необходимо сделать паузу 5 -15 минут зависит от температуры и влажности воздуха. Приклеивают полотна внахлест (с незначительным наложением друг на друга). Лишняя часть материала обрезают с помощью монтажного ножа, после чего края идеально стыкуются между собой. В результате создается бесшовная поверхность. Монтаж полотен гибкого камня, проводится сверху вниз, при этом используют прижимной валик для разглаживания и вытеснения воздуха между стеной и полотном. Швы затираются с помощью наждачной бумаги или лоскутком негрунтованного полотна. Угловые элементы при оклейке поверхности гибким камнем предварительно прогревают строительным феном. Для предотвращения трещин.</p>
            <p>После монтажа на фасад или в помещении с повышенной влажностью (ванная, душевая и.т.д.) , гибкий камень нужно покрыть защитной пропиткой, которое предотвратит не только попадание влаги в структуру материала, но и защитит от воздействия других агрессивных природных факторов.</p>

        </ol>
    </section>
</template>

<script>
    export default {
        name: "Options"
    }
</script>

<style scoped>
section{
    padding: 10px;
}
    h1,h3{
        text-align: center;
    }
</style>