<template>
    <section class="production-wrap">
        <div class="content">
            <div class="left">
                <left-menu></left-menu>
            </div>
            <div class="right">
                <form class="form-search" action="/search/" target="_blank">
                    <input type="hidden" name="searchid" value="808327">
                    <input type="search" name="text" required placeholder="поиск">
                    <input type="image" src="http://3.bp.blogspot.com/-4w14hQHr5yQ/Tgm6u7KwUkI/AAAAAAAACAI/Hu2poBOPx3g/s1600/search.png"/>  <!-- вместо кнопки submit -->
                </form>
                <cards></cards>
            </div>
        </div>


    </section>

</template>

<script>
    import Cards from "./cards";
    import LeftMenu from "./left-menu";
    export default {
        name: "production",
        components: {
            LeftMenu,
            Cards
        }
    }
</script>

<style scoped>
    .content{
        display: flex;
        width: 100%;
    }
    .left{
        width: 30%;
    }
    .right{
        width: 70%;
        margin-left: 20px;
    }
    .form-search {  /* форма с boxtuffs.com */
        position: relative;
        width: 80%;
        margin: 15px 10%;

        text-align: center;
        display: inline-block;
        border: 1px solid #747474;
        border-radius: 3px;
        box-shadow: inset 0 1px 1px #575555, 0 1px 0 #FFF;
        background-image: linear-gradient(#BCBCBC, #EBEBEB);
    }
    .form-search:before {  /* рамка вокруг формы */
        position: absolute;
        content: "";
        top: -5px;
        right: -5px;
        bottom: -5px;
        left: -5px;
        z-index: -1;
        border-radius: 5px;
        background: linear-gradient(#D3D3D3, #CACACA 50%, #A9A9A9 50%, #9B9B9B);
    }
    .form-search:focus-within {  /* изменение формы при фокусе */
        box-shadow: inset 0 1px 1px #46575b, 0 1px 0 #FFF;
        background: linear-gradient(#9CC2CA, #DFECEF);
    }
    .form-search input[type="search"] {  /* поле поиска */
        width: 90%;
        height: 32px;

        line-height: 32px;
        border: none;
        outline: none;
        box-shadow: none;
        padding: 0 0 0 6px;
        background: transparent;
        font: 13px Helvetica, Arial, sans-serif;
        color: #6E7074;
        text-shadow: 0 1px 0 orange;
        transition: all .2s ease-out;
    }
    .form-search:focus-within input[type="search"],  /* изменение поля поиска при фокусе */
    .form-search input[type="search"]:focus {
        width: 80%;
        color: #25464D;
    }
    .form-search input[type="image"] {  /* картинка лупы */
        padding: 0;
        vertical-align: bottom;
    }
</style>