<template>
   <section>
       <h1>Монтаж гибкого камня ТМ ILPOSKOL</h1>

<div class="video">
       <iframe src="https://www.youtube.com/embed/8HEY3cmbR5s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

   </section>
</template>

<script>
    export default {
        name: "video"
    }
</script>

<style scoped>
    section{
        padding: 10px;
    }
  h1{text-align: center}

iframe{
    padding: 10px;
    width: 560px;
    height: 315px;

}
    .video{
        text-align: center;
    }

</style>