<template>
    <div id="app" class="wrapper">
          <Header></Header>
            <Menu></Menu>
        <div class="container">
            <router-view></router-view>
        </div>
<Footer></Footer>

    </div>
</template>

<script>
    import style from '../public/css/style.css'
    import fonts from '../public/css/fonts.css'
    import Header from "./components/Header";
    import Menu from "./components/menu";
    import Footer from "./components/footer";
    export default {
    name: 'app',
    components: {
        Footer,
        Menu,
        Header,
        style,
        fonts,

    },
}
</script>

<style>
.container{
    width: 70%;
    background-color: #fff;
    margin: 0 auto;
    -webkit-box-shadow: 0px 10px 31px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 31px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 31px -8px rgba(0,0,0,0.75);
}

</style>
